body{
    color: #080808;
    font-weight: 500;
    font-size: x-large;
    padding: 0px 2px;
}

p{
    color:#0f0f0f;
}
input
{
    border:2px solid#141414;
    padding: 10px;
    border-radius: 12px;
}
button{
    background-color: #ebb4da;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
}

p1{
    border-top: 1px solid#080808;
    color:#080808;
    padding: 8px 4px;
    position:absolute;
    bottom:0;
    left:0;
}